@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .zigzag {
    border: 2px #ededed solid;
    border-bottom: 0;
    background-image: url('data:image/svg+xml;utf8, <svg viewBox="0 0 200 110" xmlns="http://www.w3.org/2000/svg"><path d="M -15 110 L100 10 L215 110" fill="none" stroke="%23ededed" stroke-width="4" vector-effect="non-scaling-stroke"/></svg>');
    background-position: bottom left;
    background-size: 10% auto;
    background-repeat: repeat-x;
  }
}
